@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-lato: "Lato", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
